body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
header {
    display: flex;
    height: 86px;
    background-color: #7174CF;
    color: white;
    justify-content: space-between;
    align-items: center;
    }
header>nav {
    padding-left: 900px;
}
.menu>a {
    text-decoration: none;
    color: white;
    margin-right: 30px;
    font-size: 15px;
}
.contact_us>a {
    text-decoration: none;
    color: white;
    margin-right: 60px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    padding: 12px 36px;
    border-radius: 24px;
    font-size: 20px;
}
.logo{
    align-items: center;
}
.logo>h1 {
    margin-left: 60px;
    font-size: 40px;
}
.instruction{
    background-color: #1C1E53;
    display: flex;
    height: 760px;
    justify-content: center;
    padding: 0 5px;
    align-items: center;
}
.inst_text{
    color: white;
    padding-right: 400px;
}
.inst_opis>h1{
    font-size: 60px;
}
.inst_opis>p{
    opacity: 0.7;
    font-size: 16px;
    line-height: 1.8;
}
h1, p{
    margin-bottom: 30px;
}
.inst_knopki{
    margin-top: 40px;
}
.inst_knopki>a{
    margin: 50px;
    text-decoration: none;
    color: white;
}
.inst_knopki>.inst_work{
    background-color: #FCD980;
    color: black;
    border: 2px solid rgba(255, 255, 255, 0.3);
    padding: 20px 50px;
    border-radius: 40px;
    margin-left: 0px
}
.our_mission{
    background-color: #EEF4FA;
    height: 511px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.our_mission_text>p{
    opacity: 0.7;
    font-size: 25px
}
.our_mission_text>h1{
    font-size: 50px;
}
.our_mission_text>h3{
    opacity: 0.5;
    font-size: 20;
}
.our_mission_text{
    margin-right: 400px;
    line-height: 1.8;
}
.our_mission2{
    background-color: #EEF4FA;
    height: 511px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.our_mission_text2>h1{
    font-size: 50px;
}
.our_mission_text2>h3{
    opacity: 0.5;
    font-size: 20;
}
.our_mission_text2{
    margin-bottom: 60px;
    margin-left: 400px;
    line-height: 1.8;
}
.process{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 460px;
}
.process>h1{
    padding-top: 150px;
    font-size: 50px;
}
.process_div{
    display: flex;
}
.process_div>span{
    padding: 80px;
}
.process>.process_div>span>p{
    opacity: 0.5;
    line-height: 1.8;
}
.features{
    background-color: #F3F5FB;
    height: 700px;
}
.features>h1{
    padding-top: 100px;
    font-size: 50px;
    text-align: center;
}
.features_div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.features_div>div{
    box-sizing: border-box;
    height: 249.4px;
    width: 363.6px;
    background-color: white;
    margin: 40px;
}
.features>.features_div>div{
    padding: 20px 10px 10px 40px;
}
.features>.features_div>div>h2{
    font-weight: 40;
    font-size: 25px;
}
.features>.features_div>div>p{
    opacity: 0.7;
    line-height: 1.8;
    font-weight: 30;
}

.questions{
    display: flex;
    justify-content: space-around;
}
.questions>.left_side_of_questions{
    text-align: left;
    padding-left: 100px;
}
.questions>.left_side_of_questions>h1{
    font-size: 50px;
}

.q1{
    display: flex;
}
.q1>h2{
    padding-top: 14px;
    padding-right: 50px;
    color: blue;
}
.q1 h4{
    font-size: 25px;
    font-weight: 40;
}
.q1 p{
    font-size: 20px;
    opacity: 0.6;
}
.q1 img{
    padding-top: 40px;
}

.q{
    display: flex;
    align-items: center;
}
.q>h2{
    padding-right: 50px;
    color: blue;
}
.q h4{
    font-size: 25px;
    font-weight: 40;
}
.our_team{
    background-color: #F3F5FB;
    height: 712px;
}
.our_team>h1{
    font-size: 45px;
    text-align: center;
    padding-top: 130px;
}
.teamates{
    display: flex;
    justify-content: center;
    text-align: center;
}
.teamates>div{
    background-color: white;
    padding: 40px;
    margin: 20px;
}
.teamates p{
    opacity: 0.7;
    font-weight: 100;
}
.txt_img{
    padding-left: 335px;
}
.txt_img2{
    padding-left: 395px;
}
.txt_img3{
    padding-left: 302px;
}
.txt_img4{
    padding-left: 387px;
}


/*анимации*/
.john_img{
    animation-name: john_anim;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes john_anim {
    0%{
        transform: scale(1)
    }
    50%{
        transform: scale(1.2)
    }
    100%{
        transform: scale(1)
    }
}

.siman_img{
    animation-name: other_anims;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.paul_img{
    animation-name: other_anims;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.sara_img{
    animation-name: other_anims;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes other_anims {
    0%{
        transform: scale(1)
    }
    50%{
        transform: scale(1.1)
    }
    100%{
        transform: scale(1)
    }
}


footer {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    height: 92px;
    }
.menu_footer>a{
    padding: 15px;
    color: black;
    text-decoration: none;
}
footer>.menu_footer{
    padding-right: 150px;    
}
footer>.copyright{
    padding-left: 180px;
}
